---
http_interactions:
- request:
    method: get
    uri: https://apptentive-test.custhelp.com/cgi-bin/apptentive-test.cfg/services/soap?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Rnt-Time:
      - D=325851 t=1423365890942042
      Rnt-Machine:
      - '0.85'
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n<!--\n    Copyright @
        2009, 2015, Oracle and/or its affiliates. All rights reserved.\n\thttp://www.oracle.com\n-->\n\n<wsdl:definitions
        xmlns=\"http://schemas.xmlsoap.org/wsdl/\"\n\ttargetNamespace=\"urn:wsdl.ws.rightnow.com/v1_2\"\n\txmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\n\txmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"\n\txmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"\n\txmlns:rnb_v1_2=\"urn:base.ws.rightnow.com/v1_2\"\n\txmlns:rng_v1_2=\"urn:generic.ws.rightnow.com/v1_2\"\n\txmlns:rnn_v1_2=\"urn:nullfields.ws.rightnow.com/v1_2\"\n\txmlns:rno_v1_2=\"urn:objects.ws.rightnow.com/v1_2\"\n\txmlns:rna_v1_2=\"urn:metadata.ws.rightnow.com/v1_2\"\n\txmlns:rnf_v1_2=\"urn:faults.ws.rightnow.com/v1_2\"\n\txmlns:rnm_v1_2=\"urn:messages.ws.rightnow.com/v1_2\"\n\txmlns:rnw_v1_2=\"urn:wsdl.ws.rightnow.com/v1_2\"\n\tname=\"RightNow\">\n\n\t<wsdl:documentation><version>1.2</version><wsdlRevision>1.2.14.2</wsdlRevision></wsdl:documentation>\n\n\t<wsp:Policy
        xmlns:sp='http://schemas.xmlsoap.org/ws/2005/07/securitypolicy' xmlns:wsu='http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd'
        wsu:Id='SyncPolicy' xmlns:wsp='http://schemas.xmlsoap.org/ws/2004/09/policy'>\n\t
        \ <wsp:ExactlyOne>\n\t    <wsp:All>\n\t\n\t      <sp:TransportBinding>\n\t
        \       <wsp:Policy>\n\t          <wsp:ExactlyOne>\n\t            <wsp:All>\n\t\n\t
        \             <sp:TransportToken>\n\t                <wsp:Policy>\n\t                  <wsp:ExactlyOne>\n\t
        \                   <sp:HttpsToken />\n\t                  </wsp:ExactlyOne>\n\t
        \               </wsp:Policy>\n\t              </sp:TransportToken>\n\t\n\t
        \             <sp:AlgorithmSuite>\n\t                <wsp:Policy>\n\t                  <sp:Basic256
        />\n\t                </wsp:Policy>\n\t              </sp:AlgorithmSuite>\n\t\n\t
        \             <sp:Layout>\n\t                <wsp:Policy>\n\t                  <wsp:ExactlyOne>\n\t
        \                   <sp:Lax />\n\t                  </wsp:ExactlyOne>\n\t
        \               </wsp:Policy>\n\t              </sp:Layout>\n\t\n\t            </wsp:All>\n\t
        \         </wsp:ExactlyOne>\n\t        </wsp:Policy>\n\t      </sp:TransportBinding>\n\t\n\t
        \     <wsp:ExactlyOne>\n\t\n\t        <!-- Begin SignedSupportingTokens -->\n\t\n\t
        \       <sp:SignedSupportingTokens>\n\t          <wsp:Policy>\n\t            <wsp:ExactlyOne>\n\t
        \             <sp:UsernameToken sp:IncludeToken='http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient'>\n\t
        \               <wsp:Policy>\n\t                  <wsp:ExactlyOne>\n\t                    <sp:WssUsernameToken10
        />\n\t                  </wsp:ExactlyOne>\n\t                </wsp:Policy>\n\t
        \             </sp:UsernameToken>\n\t            </wsp:ExactlyOne>\n\t          </wsp:Policy>\n\t
        \       </sp:SignedSupportingTokens>\n\t\n\t        <!-- End SignedSupportingTokens
        -->\n\t\n\t        <!-- Begin SupportingTokens -->\n\t\n\t        <sp:SupportingTokens>\n\t
        \         <wsp:Policy>\n\t            <wsp:ExactlyOne>\n\t              <sp:UsernameToken
        sp:IncludeToken='http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient'>\n\t
        \               <wsp:Policy>\n\t                  <wsp:ExactlyOne>\n\t                    <sp:WssUsernameToken10
        />\n\t                  </wsp:ExactlyOne>\n\t                </wsp:Policy>\n\t
        \             </sp:UsernameToken>\n\t            </wsp:ExactlyOne>\n\t          </wsp:Policy>\n\t
        \       </sp:SupportingTokens>\n\t\n\t        <!-- End SupportingTokens --[...]
- request:
    method: post
    uri: https://apptentive-test.custhelp.com/cgi-bin/apptentive-test.cfg/services/soap
    body:
      encoding: UTF-8
      string: |-
        <env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
          <env:Header>
            <message:ClientInfoHeader xmlns:message="urn:messages.ws.rightnow.com/v1_2" xmlns="urn:messages.ws.rightnow.com/v1_2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <AppID>Apptentive Integration</AppID>
            </message:ClientInfoHeader>
            <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" env:mustUnderstand="1">
              <wsse:UsernameToken>
                <wsse:Username>Apptentive</wsse:Username>
                <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">AppPassword</wsse:Password>
              </wsse:UsernameToken>
            </wsse:Security>
          </env:Header>
          <env:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <message:Batch xmlns:message="urn:messages.ws.rightnow.com/v1_2">
          <message:BatchRequestItem>
            <message:UpdateMsg>
          <message:RNObjects xmlns:object="urn:objects.ws.rightnow.com/v1_2" xmlns:base="urn:base.ws.rightnow.com/v1_2" xsi:type="object:Incident">
            <base:ID id="54947325" variableName="MyIncident" xsi:type="ChainSourceID"/>
            <object:Threads>
              <object:ThreadList action="add">
                <object:EntryType>
                  <base:ID id="3"/>
                </object:EntryType>
                <object:Text/>
              </object:ThreadList>
            </object:Threads>
          </message:RNObjects>
          <message:ProcessingOptions>
            <message:SuppressExternalEvents>false</message:SuppressExternalEvents>
            <message:SuppressRules>false</message:SuppressRules>
          </message:ProcessingOptions>
        </message:UpdateMsg>
          </message:BatchRequestItem>
          <message:BatchRequestItem>
            <message:GetMsg>
              <message:RNObjects xmlns:object="urn:objects.ws.rightnow.com/v1_2" xsi:type="object:Incident">
                <ID xmlns="urn:base.ws.rightnow.com/v1_2" xsi:type="ChainDestinationID" id="0" variableName="MyIncident"/>
                <object:Threads/>
              </message:RNObjects>
              <message:ProcessingOptions>
                <message:FetchAllNames>false</message:FetchAllNames>
              </message:ProcessingOptions>
            </message:GetMsg>
          </message:BatchRequestItem>
        </message:Batch>
          </env:Body>
        </env:Envelope>
    headers:
      Soapaction:
      - '"Batch"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Rnt-Time:
      - D=191462 t=1423365891969114
      Rnt-Machine:
      - '0.96'
      X-Cnection:
      - close
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Header></soapenv:Header><soapenv:Body><soapenv:Fault><faultcode>soapenv:Sender</faultcode><faultstring>Data element in the Message is NULL</faultstring><detail><fault>RightNowSyncService|urn:wsdl.ws.rightnow.com/v1_2 failed
        NULL value is set to a non-nillable element Text of object Thread
        Failed in constructing object ThreadList : NULL input can not be deserialized
        Failed in setting value for element ThreadList array position 0 of object ThreadList
        Failure in setting value for object Incident element Threads of type objects_ws_rightnow_com_v1_2::ThreadList
        Failed in constructing object UpdateMsg : NULL input can not be deserialized
        Failed in setting value for element RNObjects array position 0 of object UpdateMsg
        Failure in setting value for object BatchRequestItem_choice_type0 element UpdateMsg of type messages_ws_rightnow_com_v1_2::UpdateMsg
        Failure in parsing choice indicator in BatchRequestItem element
        Failed in constructing object BatchMsg : NULL input can not be deserialized
        Failed in setting value for element BatchRequestItem array position 0 of object BatchMsg
        Failure in setting value for object Batch element Batch of type messages_ws_rightnow_com_v1_2::BatchMsg
        NULL returned from the Batch deserializer due to missing or invalid XML</fault></detail></soapenv:Fault></soapenv:Body></soapenv:Envelope>
  recorded_at: Sun, 08 Feb 2015 03:24:52 GMT
recorded_with: VCR 2.9.3
